<h1>IT WORKS</h1>
<style>
    .lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  background-color: black;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

</style>
<script>
    window.URLS ={
        authors: '{% url "api_list_authors" %}'
    }

</script>
<div id="authors" >
    <div class="lds-ripple"><div></div></div>
</div>

<script>
    async function reloadAuthors() {
       const response = await fetch(window.URLS.authors);
       const {results} = await response.json();

       const ul = document.createElement('ol');
       
       for(const author of results) {
           const listItem = document.createElement('li');
           listItem.innerText = `${author.first_name} ${author.last_name}`
            ul.appendChild(listItem);      
       }
       const authorsRoot = document.getElementById('authors');
       authorsRoot.innerHTML = '';
       authorsRoot.appendChild(ul);
    }
    reloadAuthors()
</script>